@using Cv.Models.Entity
@model List<TblInterest>
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        @foreach (var item in Model)
        {
            <p>@item.Description</p>
        }
    </div>
</section>
